@font-face{
    font-family: reey;
    src: url("./font/reey/Reey-Regular.otf") format("opentype");
}

@font-face{
    font-family: opensans;
    src: url("./font/opensans/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
}

@font-face{
    font-family: Montserrat;
    src: url("./font/[Montserrat]/Montserrat-VariableFont_wght.ttf") format("truetype");
}






@media only screen and (max-width: 600px) {
        
    body {
        width: 100%;
        margin: 0;
    }

    .black{
        background-image: url(./img/page1/bg1.png);
        background-color: black;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    

    #logo{
        display: block;
        width: 130px;
        margin-left: 10%;
    }
    
    .black h1{
        color: white;
        font-family: reey;
        font-weight: lighter;
        font-size: 60px;
        margin-top: 21px;
        padding-left: 15%;
    
    }

    #h11{
        color: white;
        /* text-align: center; */
        font-family: opensans;
        font-style: italic;
        font-size: 23px;
        margin-left: 10%;
    }
    
    .afont{
        font-family: opensans;
        display: block;
        width: 125px;
        height: 25px;
        background: #ffffff;
        padding: 1px;
        text-align: center;
        border-radius: 500px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 25px;
        text-decoration: none; 
        margin-left: 10%;
    }

    #col1 p{
        color: white;
        font-family: opensans;
        font-style: italic;
        font-size: 15px;
        margin-left: 10%;
    }


    
    #img11{
        margin-top: 0;
        width: 177px;
        
    }
    
    #img12{
        width: 91px;
        position: absolute;
        top: 110%;
        left: 5%;
    }

    #leaf{
        position: absolute;
        top: 118%;
        left: 46%;
        width: 54%;
        z-index: 20;
    }
    

    .row{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }

    .col{
        display: flex;
        flex-direction: column;
    }

    
    /* ------------------------------------------------------------------------------- */


    .white{
        background-color: white;
        width: 100%;
        height: 110%;
    }


    .row2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .col2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* width: 50%; */
        align-items: center;
        height: 382px;
        width: 100%;
    }

    .afontb {
        font-family: opensans;
        display: block;
        font-size: 15px;
        display: block;
        width: 130px;
        height: 25px;
        background: #000000;
        padding: 1px;
        text-align: center;
        border-radius: 500px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 25px;
        text-decoration: none; 
        margin-left: 100px;
        position: relative;
        left: 0;
        margin-bottom: 10%;
    }

    /* --------------------------------------------------------------------------------- */


    .b2 {
        background-color: rgb(12, 12, 12);
        width: 100%;
        height: 100%;

    }


    .rowb2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .colb2 {
        display: flex;
        flex-direction: column;
        width: 57%;
        height: 10%;
    }


    .afontr {
        font-family: opensans;
        display: block;
        font-size: 18px;
        display: block;
        width: 140px;
        height: 29px;
        background: #ffffff;
        padding: 5px;
        text-align: center;
        border-radius: 10px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 25px;
        text-decoration: none;
        margin-left: 100px;
        position: relative;
        left: 0;
        margin-bottom: 10px;
    }

/* --------------------------------------------------------------------------------------------------- */


    .roww2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
        justify-content: space-around;
        padding: 25px 0px;
    }

    .colw2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }


    .colw2 img {
        width: 100%;
    }

    /* .afontb{
        font-family: opensans;
        display: block;
        font-size: 15px;
        display: block;
        width: 130px;
        height: 25px;
        background: #000000;
        padding: 1px;
        text-align: center;
        border-radius: 500px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 25px;
        text-decoration: none; 
        margin-left: 100px;
        position: relative;
        left: 0;
    } */

    .afontb2{
        font-family: opensans;
        display: block;
        font-size: 15px;
        display: block;
        width: 130px;
        height: 25px;
        background: #000000;
        padding: 1px;
        text-align: center;
        border-radius: 500px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 25px;
        text-decoration: none; 
        margin-left: 100px;
        position: relative;
        left: -6%;
    }

/* ------------------------------------------------------------------------------------------- */


    .blackbg {
        background-image: url(./img/page1/bg1.png);
        width: 100%;
        height: 818px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* overflow: hidden; */
    }


    #bbgimg2 {
        width: 318px;
        position: absolute;
        top: 722%;
        left: 0%;
        z-index: 20;
    }


    #bbgimg3 {
        width: 143px;
        position: absolute;
        top: 747%;
        left: 7%;
        transform: rotate(89deg);
        z-index: 20;
    }

    #bbgimg1 {
        width: 99%;
        position: absolute;
        top: 656%;
    }

/* ----------------------------------------------------------------------- */


    .wbg3 {
        background-color: white;
        width: 100%;
        height: 100%;
    }

    .rowwbg3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .colwbg3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 85%;
        align-content: center;
        position: relative;
        z-index: 30;
        /* flex-wrap: wrap; */
    }

    .rowwbg3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .colwbg33 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 60%;
        align-content: space-between;
        font-family: opensans;
        text-align: center;
    }

/* ----------------------------------------------------------- */


    .bs {
        background-color: rgb(12, 12, 12);
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 30;
    }


    .bs h1 {
        color: white;
        font-family: opensans;
        font-size: 42px;
        text-align: center;
        font-weight: bolder;
        padding-top: 0%;
        position: relative;
        z-index: 30;
    }


    .ib input {
        border: none;
        border-radius: 500px;
        width: 417px;
        height: 30px;
        margin-left: 40px;
        text-align: left;
        position: absolute;
        top: 55%;
        left: 29%;
    }

    .ib input {
        border: none;
        border-radius: 500px;
        width: 51%;
        height: 30px;
        margin-left: 40px;
        text-align: left;
        position: static;
        top: 0%;
        left: 0%;
    }

    .ib button {
        border: none;
        border-radius: 500px;
        width: 100px;
        height: 33px;
        margin-left: 40px;
        font-family: opensans;
        color: white;
        background-color: rgb(57, 56, 56);
        font-weight: bold;
        position: absolute;
        top: 80%;
        left: 45%;
    }

    .bs img {
        width: 99%;
        position: absolute;
        top: -39%;
        right: 3.5%;
        z-index: 10;
    }

/* ----------------------------------------------------------------- */


.footer {
    width: 100%;
    height: 100%;
}

.rowf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-family: Montserrat;
    align-content: center;
    flex-wrap: wrap;
}



.colf1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}


.colf {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    flex-wrap: wrap;
}





}

  